[submodule ".registry"]
	path = .registry
	url = https://github.com/juba/universe
	branch = HEAD
[submodule "rainette"]
	path = rainette
	url = https://github.com/juba/rainette
[submodule "explor"]
	path = explor
	url = https://github.com/juba/explor
[submodule "questionr"]
	path = questionr
	url = https://github.com/juba/questionr
[submodule "rmdformats"]
	path = rmdformats
	url = https://github.com/juba/rmdformats
[submodule "robservable"]
	path = robservable
	url = https://github.com/juba/robservable
[submodule "scatterD3"]
	path = scatterD3
	url = https://github.com/juba/scatterD3
[submodule "shinyglide"]
	path = shinyglide
	url = https://github.com/juba/shinyglide
[submodule "obsplot"]
	path = obsplot
	url = https://github.com/juba/obsplot
